
.idea/

Library/

Logs/

obj/

Temp/

UserSettings/

AboveAverageInspector.sln

Assembly-CSharp-Editor-firstpass.csproj

Assembly-CSharp-Editor.csproj

Assembly-CSharp-firstpass.csproj

Assembly-CSharp.csproj

OdinSerializer.csproj

ProjectSettings/AudioManager.asset

ProjectSettings/ClusterInputManager.asset

ProjectSettings/DynamicsManager.asset

ProjectSettings/EditorBuildSettings.asset

ProjectSettings/EditorSettings.asset

ProjectSettings/GraphicsSettings.asset

ProjectSettings/InputManager.asset

ProjectSettings/NavMeshAreas.asset

ProjectSettings/PackageManagerSettings.asset

ProjectSettings/Physics2DSettings.asset

ProjectSettings/PresetManager.asset

ProjectSettings/QualitySettings.asset

ProjectSettings/TagManager.asset

ProjectSettings/TimelineSettings.asset

ProjectSettings/TimeManager.asset

ProjectSettings/UnityConnectSettings.asset

ProjectSettings/VersionControlSettings.asset

ProjectSettings/VFXManager.asset

ProjectSettings/XRSettings.asset
