/* --------------------------------------------------------
   DefaultEditorBase.uss                                        --
   ----------------------------------------------------- */

/* --------------------------------- */
/* Container ----------------------- */
/*<editor-fold desc="Container">*/

.unity-inspector-element {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-bottom: 2px;
}

/*</editor-fold> Container*/

/*</editor-fold>*/
