# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.okay_drawer.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\instance-id\okay_drawer\.idea\.idea.okay_drawer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
